<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">  
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <p>
            DK L testing out heroku and nodejs
        </p>
    </div>

    {{>footer}}
</body>

</html>